<footer class="footer">
    <h3 class="footer__title">Contacts</h3>
    <p class="footer__text">Want to know more or just chat? You are welcome!</p>
    <button class="footer__button">Send message</button>
    <div class="footer__social-div">
        <a class="footer__social" href="">Instagram</a>
        <a class="footer__social" href="">Vk</a>
        <a class="footer__social" href="">Telegram</a>
        <a class="footer__social" href="">Mail</a>
        <a class="footer__social" href="">GitHub</a>
        <a class="footer__social" href="">Phone</a>
    </div>
    <p class="footer__text2">Design by <a href="https://dlacademy.ru/">DL Academy</a></p>
    <p class="footer__text2">Program code from Nataly</p>
</footer>
