<header class="header container">
    <a href="index.html">Home</a>
    <nav>
        <ul class="header_menu undotted">
            <li>
                <a href="blog.html">My blog</a>
            </li>
            <li>
                <button>Sign in</button>
            </li>
            <li>
                <button>Register</button>
            </li>
            <li>
                <a href="profile.html">My profile</a>
            </li>
        </ul>
    </nav>
</header>

<div class="div_humburger container">
    <div class="humburger">
        <img src="img/menu.svg" alt="" class="header-mobile__open">
    </div>
</div>

<div class="header-mobile">
    <div class="header-mobile__closeBlock">
        <img src="img/close.svg" alt="" class="header-mobile__close">
    </div>
    <a href="index.html" class="header-mobile__home">Home</a>
    <nav>
        <ul class="header-mobile_menu undotted">
            <li>
                <a href="blog.html">My blog</a>
            </li>
            <li>
                <button>Sign in</button>
            </li>
            <li>
                <button>Register</button>
            </li>
            <li>
                <a href="profile.html">My profile</a>
            </li>
        </ul>
    </nav>
</div>