<ul class="undotted">
    <li>
        <div class="div__post">
            <img src="@@imgpost" alt="Photos of our blog" class="img__post">
            <div>
                <div class="div_color">
                    <img src="@@color1" alt="" class="img__color">
                    <img src="@@color2" alt="" class="img__color">
                    <img src="@@color3" alt="" class="img__color">
                </div>
                <div class="div__date">
                    <p class="date">@@date</p>
                    <p class="views">@@views views</p>
                    <p class="comment">@@comments comments</p>
                </div class="div__text" >
                <h3 class="post_title">@@titleText</h3>
                <p class="post_text">@@text</p>
                <a href="#" class="post__a">Go to this post</a>
            </div>
        </div>
    </li>
</ul>